{% extends 'base.html' %}
{% load static %}

  {% block header %}
  <p class="label">Our Venues</p>
    <h1>Celebrate Every Occasion</h1>
    <p>Find the perfect setting for your most cherished moments</p>
  {% endblock %}

    <section class="section">
    <div class="divider"></div>
    <div class="grid">
      <a class="card" href="{% static 'overview.html' %}">
        <img src="{% static 'img/BP1.jpg' %}" alt="Birthday">
        <div class="card-overlay">
          <span class="card-label">Birthday &amp;<br>Private Venue</span>
        </div>
      </a>
      <a class="card" href="">
        <img src="{% static 'img/WV6.jpg' %}" alt="Wedding">
        <div class="card-overlay">
          <span class="card-label">Wedding &amp;<br>Romantic Venue</span>
        </div>
      </a>
      <a class="card" href="">
        <img src="" alt="Family">
        <div class="card-overlay">
          <span class="card-label">Family<br>Milestones Venue</span>
        </div>
      </a>
      <a class="card" href="">
        <img src="" alt="Academic">
        <div class="card-overlay">
          <span class="card-label">Academic &amp;<br>Youth Venue</span>
        </div>
      </a>
      <a class="card" href="">
        <img src="" alt="Corporate">
        <div class="card-overlay">
          <span class="card-label">Corporate &amp;<br>Formal Venue</span>
        </div>
      </a>
      <a class="card" href="">
        <img src="" alt="Entertainment">
        <div class="card-overlay">
          <span class="card-label">Entertainment &amp;<br>Special Venue</span>
        </div>
      </a>
    </div>
    </section>

</body>
</html>